<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKYJV_20j120MP5YcA5O5QokFEg-zsX10</string>
	<key>GCM_SENDER_ID</key>
	<string>274683707203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebas.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>firebas-a395b</string>
	<key>STORAGE_BUCKET</key>
	<string>firebas-a395b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274683707203:ios:c182744b1b8e8b06f439f6</string>
</dict>
</plist>